        
        body {
            background-color: #182123;
            
        }

        nav {
            display: flex;
            justify-content: end;
            gap: 20px;
            padding-right: 20px;
            position: sticky;
            top: 0px;
            background-color: #182123;
        }

        a {
            color: white;
            text-decoration: none;
        }

        /*Main Section*/

        .container {
            display: flex;
            flex-direction: column;
            margin: 0px;
        }



        /*Intro Section*/


        .Intro {
            width: auto;
            height: auto;
            padding: 30px;
            background-color: #B9BAA3;
            color: #182123;
            font-size: 30px;
            margin: 10px;
        }

        #int{
            text-align: center;
            width: auto;
            color: #182123;
        }

        .int {
            width: 60%;
        }

        img {
            width: 300px;
            height: 350px;
            border-radius: 7%;
        }

        .img {
            align-items: center;
            place-content: center;
        }

        .main1 {
            display: flex;
            justify-content: space-around;
        }




        /*About Section*/

        .About {
            width: auto;
            height: auto;
            background-color: #D9D5C9;
            color: #182123;
            padding: 50px;
            font-size: 25px;
            margin: 10px;
        }
        
        #abouthead{
            text-align: center;
        }



        /*Skills section*/

        .Skills {
            width: auto;
            height: auto;
            background-color: #B9BAA3;
            color: #182123;
            padding: 50px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 25px;
            color:white ;
            
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows:  1fr 1fr;
            gap: 30px;
        }

        .boxes{
            padding: 5px;
            margin: 5px;
            background-color: #182123;
            border-radius: 5%;
        }

        .boxes:hover{
            box-shadow: #028090 8px 4px 4px 4px;
            
            transition: 0.5s;
            transform: scale(1.1);
            translate: 0px,5px,0px;
        }

        .boxes img{
            width: 100%;
            height: 300px;
            border-radius: 5%;
        }

        #Projects{
            background-color:#B9BAA3;
            text-align: center;
            margin-bottom: 0px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 50px;
            padding-top: 60px;
        }



        /*Contact Section*/

        .Contact {
            width: auto;
            height: auto;
            background-color: #D9D5C9;
            color: #182123;
            padding: 50px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            
            font-size:25px ;
            justify-content: space-evenly;

        }
        #Contact{
            background-color:#D9D5C9;
            text-align: center;
            margin-bottom: 0px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 50px;
            padding-top: 20px;
        }
        .contact_text{
            color: #182123;
        }
        #contact_logo{
            width: 60px;
            height: 60px;
        }
        label {
            font-size: 25px;      
            font-weight: bold;    
            margin-right: 10px;   
        }
        input, textarea{
            width: 100%;           
            height: 40px;           
            padding: 10px;          
            font-size: 16px;        
            border: 2px solid #182123; 
            border-radius: 15px;    
            outline: none;          
        }
        textarea{
            height: 120px;
        }
        input:focus {
            border-color: #007BFF;  
        }
        button {
            background-color: #182123;
            color: white;
            font-size: 25px;        
            padding: 14px;          
            border: none;
            border-radius: 25px;    
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background-color: #182123;
            transform: scale(1.05); 
            
        }



        /*Footer Section*/
        footer{
            display: flex;
            justify-content: space-between;
            margin-left: 10px;
        }

        .footer_p{
            color: white;
            text-align: left;
        }
        .footer_logo{
            width: 40px;
            height: 40px;
        }



        
        /*Media Queiries*/

        @media screen and (max-width:855px) and (min-width:430px){
            .main1 {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .int {
                font-size: 24px;
                text-align: center;
            }

            .Skills{
                display: flex;
                flex-wrap: wrap;
            }
            label{
                font-size: 20px;
            }
            button{
                font-size: 20px;
                padding: 10px;
            }
            
            .Contact{
                flex-wrap: wrap;
                font-size: 20px;
            }
        }
        @media screen and (max-width:429px){
            .main1 {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .int {
                font-size: 24px;
                text-align: center;
            }

            .Skills{
                display: flex;
                flex-wrap: wrap;
            }
            
            .Contact{
                display: flex;
                flex-wrap: wrap;
                text-wrap: wrap;
                font-size: 15px;
            }
            label{
                font-size: 15px;
            }
            button{
                font-size: 15px;
                padding: 7px;
            }
        }